@import url("https://fonts.googleapis.com/css?family=Poppins");
.App {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased; }

* {
  font-family: 'Poppins', sans-serif; }

.ui.basic.segment {
  background-color: #f8f8f8 !important;
  border: none !important;
  border-top: 1px solid #e8e8ec !important;
  padding-right: 1.5rem; }

.ui.card {
  width: 100% !important; }

.left-menus {
  position: fixed;
  top: 67px;
  width: 200px;
  padding-right: 0 !important; }

.ui.vertical.menu {
  width: 100% !important;
  font-family: 'Poppins', sans-serif; }
  .ui.vertical.menu .item {
    color: #4a4a4a !important;
    text-align: left !important;
    height: 3rem !important;
    display: flex !important;
    align-items: center !important; }
  .ui.vertical.menu .active.item {
    color: #3cbfc8 !important;
    border-right: 4px solid #3cbfc8 !important;
    background-color: #f8f8f8 !important;
    font-weight: 400 !important; }
  .ui.vertical.menu .side-menu-drop-down {
    right: 10px;
    position: absolute; }

.side-menu {
  font-size: 12px !important; }
  .side-menu .sub-menu-container {
    display: none; }
  .side-menu .sub-menu-container.active {
    display: block;
    transition: 0.3 all ease; }
    .side-menu .sub-menu-container.active .sub-menu {
      cursor: pointer; }
