@import url("https://fonts.googleapis.com/css?family=Poppins");
.App {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased; }

* {
  font-family: 'Poppins', sans-serif; }

.ui.basic.segment {
  background-color: #f8f8f8 !important;
  border: none !important;
  border-top: 1px solid #e8e8ec !important;
  padding-right: 1.5rem; }

.ui.card {
  width: 100% !important; }

.main-container {
  margin-top: 67px;
  width: 100%;
  padding-left: 200px !important; }

.top-header {
  font-weight: 400;
  color: #4a4a4a;
  font-size: 30px;
  font-family: 'Poppins', sans-serif; }
  .top-header .sub.header {
    margin-top: 1rem !important;
    font-size: 10px !important;
    color: #9b9b9b !important; }

.ui.header {
  text-align: left !important;
  margin-left: 1rem !important; }
