@import "../App.scss";

.main-container {
  margin-top: 67px;
  width: 100%;
  padding-left: 200px !important;
}

.top-header {
    font-weight: 400;
    color: #4a4a4a;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    .sub.header {
        margin-top: 1rem !important;
    	font-size: 10px !important;
    	color: #9b9b9b !important;
    }
}

.ui.header {
    text-align: left !important;
    margin-left: 1rem !important;
}
