@import "../styles/_common.scss";

.main-container {
    margin-top: 10px;
    width: 100%;
    padding: 0 20px 20px 220px !important;
    background-color: #f8f8f8 !important;
}

.ui.basic.segment {
    background-color: #f8f8f8 !important;
    border: none !important;
    border-top: 1px solid #e8e8ec !important;
    padding-right: 1.5rem;
}
