.App {
  -webkit-font-smoothing: antialiased;
}

.ui.card {
  width: 100% !important;
}

.recharts-cartesian-grid .recharts-cartesian-grid-vertical {
  display: none;
}

.recharts-cartesian-axis-ticks .recharts-cartesian-axis-tick text {
  fill: #9b9b9b;
}
