@import "../../styles/_common.scss";

.blendx_input {
  .ui.input {
    font-size: 12px;
  }

  .ui.disabled.input {
    input {
      background-color: #e8e8ec;  
      color: #9b9b9b;    
    }
  }

  .ui.action.input>.dropdown {
    background-color: $lightGreen;
    color: #fff;
    font-size: 12px;
  }

  .ui.labeled.input {
    .ui.basic.label {
      font-size: 14px;
      background-color: #e8e8ec;    
      color: #9b9b9b;
      i {
        margin-right: 0;
      }
    }
  }
}