.ui.card {
  width: 100% !important; }

.ui.segment {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(185, 188, 210, 0.2);
  border: solid 1px #e8e8ec; }

.range-picker {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 32px; }
  .range-picker .bar {
    height: 8px;
    border-radius: 8px;
    background-color: #01a8fe; }
  .range-picker .handle {
    position: absolute;
    margin-left: -12px;
    top: -9px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(185, 188, 210, 0.2);
    border: solid 1px #e8e8ec; }
  .range-picker .tooltip {
    position: absolute;
    background-color: #01a8fe;
    width: 24px;
    margin-left: -12px;
    height: 16.1px;
    border-radius: 3px;
    top: -29px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center; }
  .range-picker .tooltip.start {
    background-color: #e8e8ec;
    color: #9b9b9b;
    left: 0;
    margin: 0; }
  .range-picker .tooltip.end {
    background-color: #e8e8ec;
    color: #9b9b9b;
    right: 0;
    margin: 0; }
  .range-picker .scale {
    margin: 0 1.5%;
    width: 97%;
    height: 8px;
    background-position: 2px 100%;
    background-repeat: repeat-x;
    background-size: 10% 8px, 5% 4px; }
  .range-picker .rheostat {
    overflow: visible; }
  .range-picker .rheostat-background {
    background-color: #f8f8f8;
    height: 8px;
    border-radius: 8px;
    border: none;
    position: relative;
    width: 100%; }
  .range-picker .rheostat-progress {
    background-color: #01a8fe;
    position: absolute;
    height: 8px;
    border-right: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    top: 0px; }
  .range-picker .rheostat-handle {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 24px !important;
    height: 24px !important;
    width: 24px !important;
    top: -8px;
    margin-left: -4px;
    outline: none;
    z-index: 2; }
