.ui.card {
  width: 100% !important;
}

.ui.segment {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(185, 188, 210, 0.2);
  border: solid 1px #e8e8ec;
}

.date-range-wrapper {
  min-height: 300px;
}

.full-calendar-wrapper {
  min-height: 600px;
}
