.ui.card {
  width: 100% !important; }

.ui.segment {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(185, 188, 210, 0.2);
  border: solid 1px #e8e8ec; }

.time-picker {
  width: 240px;
  height: 138px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(185, 188, 210, 0.2);
  border: solid 1px #e8e8ec;
  display: flex;
  padding: 13px 22px;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
  color: #4a4a4a;
  font-size: 20px; }
  .time-picker .subtracters, .time-picker .adders {
    display: flex; }
    .time-picker .subtracters .icon-wrapper, .time-picker .adders .icon-wrapper {
      width: 32px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      cursor: pointer; }
      .time-picker .subtracters .icon-wrapper i.icon, .time-picker .adders .icon-wrapper i.icon {
        margin: 0; }
    .time-picker .subtracters .icon-wrapper:first-child, .time-picker .adders .icon-wrapper:first-child {
      margin-left: 4px; }
    .time-picker .subtracters .icon-wrapper:last-child, .time-picker .adders .icon-wrapper:last-child {
      margin-left: 65px; }
    .time-picker .subtracters .icon-wrapper:hover, .time-picker .adders .icon-wrapper:hover {
      background-color: #f1f1f6; }
  .time-picker .time {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 600; }
    .time-picker .time span {
      padding: 8px; }
    .time-picker .time .hour, .time-picker .time .minute {
      width: 40px;
      border-radius: 4px; }
    .time-picker .time .hour:hover, .time-picker .time .minute:hover {
      background-color: #f1f1f6; }
    .time-picker .time .period {
      background-color: #3cbfc8;
      padding: 5px 12px;
      border-radius: 4px;
      font-size: 12px;
      color: #fff; }
