.ui.card {
  width: 100% !important; }

.ui.segment {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(185, 188, 210, 0.2);
  border: solid 1px #e8e8ec; }

.ui.modal > .actions {
  background-color: #fff;
  padding: 16px 24px; }

.ui.modal > .close {
  padding-top: 1.25rem;
  margin-right: 1.5rem;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  opacity: .8;
  font-size: 1.25em;
  width: 2.25rem;
  height: 2.25rem;
  right: 0;
  color: #4a4a4a;
  top: 0; }

.open-modal {
  cursor: pointer;
  width: 80px;
  height: 32px;
  border-radius: 4px;
  border: none;
  background-color: #2bd6e2; }
  .open-modal p {
    font-size: 12px;
    color: #fff; }

.modal-wrapper {
  color: #4a4a4a; }
  .modal-wrapper .modal-close,
  .modal-wrapper .modal-okay {
    cursor: pointer;
    width: 80px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #2bd6e2; }
    .modal-wrapper .modal-close p,
    .modal-wrapper .modal-okay p {
      font-size: 12px; }
  .modal-wrapper .modal-close {
    background-color: #ffffff; }
    .modal-wrapper .modal-close p {
      color: #2bd6e2; }
  .modal-wrapper .modal-okay {
    background-color: #2bd6e2;
    margin-left: 8px; }
    .modal-wrapper .modal-okay p {
      color: #fff; }
