.left-menus {
  position: fixed;
  width: 200px;
  padding-right: 0 !important;
  background-color: #fff;
  height: 100%;
  padding-top: 20px;
  top: 47px;
}

.ui.vertical.menu {
  width: 100% !important;
  font-family: 'Poppins', sans-serif;
}
.ui.vertical.menu .item {
  color: #4a4a4a !important;
  text-align: left !important;
  height: 3rem !important;
  display: flex !important;
  align-items: center !important;
}
.ui.vertical.menu .active.item {
  color: #3cbfc8 !important;
  border-right: 4px solid #3cbfc8 !important;
  background-color: #f8f8f8 !important;
  font-weight: 400 !important;
}
.ui.vertical.menu .side-menu-drop-down {
  right: 10px;
  position: absolute;
}

.side-menu {
  font-size: 12px !important;
}
.side-menu .item {
  text-transform: capitalize !important;
}
.side-menu .sub-menu-container {
  display: none;
  transition: 0.3s all ease;
}
.side-menu .sub-menu-container.active {
  display: block;
  transition: 0.3s all ease;
}
.side-menu .sub-menu-container.active .sub-menu {
  text-transform: capitalize;
  transition: 0.3s all ease;
  font-size: 0.75rem;
  padding: 0.5em 1.14285714em 0.5em 3em;
}
.side-menu .sub-menu-container.active .sub-menu a {
  color: #4a4a4a;
}
