@import url('https://fonts.googleapis.com/css?family=Poppins');
.App {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: 'Poppins', sans-serif;
}

.ui.card {
  width: 100% !important;
}

.top-header {
  font-weight: 400;
  color: #4a4a4a;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.8rem;
}

.sub-header {
  margin-bottom: 1rem;
  color: #9b9b9b !important;
}
.sub-header h5 {
  font-size: 10px;
}
