@import "../../App.scss";

.fixed-footer-container {
    border: none !important;
    box-shadow: none !important;
}

.fixed-footer {
    padding: 1.5rem 1rem !important;
    border-radius: 4px;
    background-color: $lightBlue;
    color: #fff;
    margin-right: 1rem !important;
}

.one.column.row {
    text-align: center !important;
}
