@import url('https://fonts.googleapis.com/css?family=Poppins');
.App {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: 'Poppins', sans-serif;
}

.ui.card {
  width: 100% !important;
}

.new-notification {
  position: absolute;
  top: -7px;
  right: 5px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #3cbfc8;
  color: #fff;
  text-align: center;
}
