@import url("https://fonts.googleapis.com/css?family=Poppins");
.App {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased; }

.ui.basic.segment {
  background-color: #f8f8f8 !important;
  border: 1px solid #e8e8ec !important;
  margin-left: -0.6rem;
  padding-right: 1.5rem; }

.ui.card {
  width: 100% !important; }

.ui.input input {
  padding: .5em 1em !important;
  font-size: 12px; }
