@import "../../App.scss";

.fixed-footer-container {
    margin-left: 200px !important;
    margin-top: 0 !important;
    padding: 2.5rem !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: #f8f8f8 !important;
}

.fixed-footer {
    padding: 1.5rem 1rem !important;
    border-radius: 4px;
    background-color: $lightBlue;
    color: #fff;
}

.one.column.row {
    text-align: center !important;
}
