@import url('https://fonts.googleapis.com/css?family=Poppins');
.App {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: 'Poppins', sans-serif;
}

.ui.card {
  width: 100% !important;
}

.fixed-footer-container {
  margin-left: 200px !important;
  margin-top: 0 !important;
  padding: 2.5rem !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: #f8f8f8 !important;
}

.fixed-footer {
  padding: 1.5rem 1rem !important;
  border-radius: 4px;
  background-color: #3cbfc8;
  color: #fff;
}

.one.column.row {
  text-align: center !important;
}
