.updates .four.wide.column:first-child .ui.segment {
  background-color: #77d3d9;
  color: #fff; }

.updates .four.wide.column:nth-child(2) .ui.segment {
  background-color: #e58784;
  color: #fff; }

.updates .updates-score {
  font-size: 30px;
  float: right; }
